<a href="https://colab.research.google.com/github/raysaleide/PretaLab-ciclo11/blob/main/Exerc%C3%ADcios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*Para a realização desses exercícios, peço que configurem para não aparecer sugestões da IA Gemini*

### A) **Utilizando variáveis, gere uma apresentação curta de sí mesma, como nesse exemplo**:

In [ ]:
# Oi! Eu sou a Amanda, tenho 30 anos, moro em Salvador e meu signo é Gêmeos

In [2]:
# Dica: As variáveis podem ser algo como:
nome = 'Raysa'
idade = 31
cidade_nasci = 'Belo Horizonte'
cidade_moro = 'Porto Alegre'
#signo = 'Gêmeos'

In [30]:
# Resposta aqui:
nome = input("Qual o seu nome? ")
idade = input("Qual a sua idade? ")
cidade_nasci = input("Qual a sua cidade de nascimento? ")
cidade_moro = input("qual cidade vc mora? ")
faculdade = "Engenharia Física"
print (f'Olá, meu nome é {nome} e tenho {idade} anos. Nasci em {cidade_nasci} e atualmente moro {cidade_moro} onde estudo {faculdade} na UFRGS')

Qual o seu nome? Raysa
Qual a sua idade? 31
Qual a sua cidade de nascimento? BH
qual cidade vc mora? Porto Alegre
Olá, meu nome é Raysa e tenho 31 anos. Nasci em BH e atualmente moro Porto Alegre onde estudo Engenharia Física na UFRGS



---

### B) **Qual o maior valor dessa lista de gastos?**

In [7]:
gastos = [10.60, 11.99, 5.50, 10, 45.99, 7.50, 4.00]

In [8]:
# O valor mais caro é: 45.99

In [10]:
# Resposta aqui
for numero in gastos:
  if numero == max(gastos):
    print(f'O maior valor é: {numero}')

O maior valor é: 45.99



---

### C) **Qual a média dessa lista?**:

In [11]:
numeros = [10,80,50,90,70]

In [ ]:
# A média dos números é: 60.0

In [12]:
# Resposta aqui
for numero in numeros:
  media = sum(numeros)/len(numeros)
print(f'A média dos números é: {media}')

A média dos números é: 60.0



---

### D) **Qual a média final dessas notas, qual a maior e qual a menor nota**

In [13]:
notas = [10,7.8, 6, 8, 9]

In [ ]:
# A média final é 8.16. A sua maior nota foi 10 e a menor nota foi 6!

In [14]:
for numero in notas:
  media = sum(notas)/len(notas)
  maior = max(notas)
  menor = min(notas)
print(f'A média final é {media}. A sua maior nota foi {maior} e a menor nota foi {menor}!')

A média final é 8.16. A sua maior nota foi 10 e a menor nota foi 6!



---

### E) **Com as mesmas informações do exercício anterior, apresente se a aluna foi APROVADA ou REPROVADA**

*  Se a média for igual ou superior a 6 apresentar a mensagem "Parabéns, você foi APROVADA!"
*  Se a média for menor, apresentar "Não foi dessa vez, infelizmente você foi REPROVADA!"

In [ ]:
# Parabéns você foi aprovada!

In [15]:
# Resposta aqui
if media >= 6:
  print("Parabéns, você foi APROVADA!")
else:
  print("Não foi dessa vez, infelizmente você foi REPROVADA!")

Parabéns, você foi APROVADA!



---

### F) **Desenvolva um programa que realize as quatro operações básicas (adição, subtração, multiplicação e divisão) entre dois números. A usuária deve escolher a operação e inserir os valores**

In [ ]:
#Digite o primeiro número: 10
#Digite o segundo número: 20
#Digite a operação (+, -, *, /): +
#Resultado: 30.0

In [24]:
# Resposta aqui
numero1 = input("Digite o primeiro número: ")
numero2 = input("Digite o segundo número: ")
operacao = input("Digite a operação que quer realizar (+, -, *, /): ")
resultado = eval(f'{numero1}{operacao}{numero2}')
print(f'O resultado dessa operação é: {resultado}')

Digite o primeiro número: 5
Digite o segundo número: 6
Digite a operação que quer realizar (+, -, *, /): /
O resultado dessa operação é: 0.8333333333333334



---

### G) **Faça um Programa que leia três números e mostre-os em ordem decrescente.**

In [29]:
# Resposta aqui
numero1 = float(input("Digite o primeiro número: "))
numero2 = float(input("Digite o segundo número: "))
numero3 = float(input("Digite o terceiro número: "))
if numero1 >= numero2 >= numero3:
    ordem = [numero1, numero2, numero3]
elif numero1 >= numero3 >= numero2:
    ordem = [numero1, numero3, numero2]
elif numero2 >= numero1 >= numero3:
    ordem = [numero2, numero1, numero3]
elif numero2 >= numero3 >= numero1:
    ordem = [numero2, numero3, numero1]
elif numero3 >= numero1 >= numero2:
    ordem = [numero3, numero1, numero2]
else:
    ordem = [numero3, numero2, numero1]
print(ordem)

Digite o primeiro número: 10
Digite o segundo número: 8
Digite o terceiro número: 90
[90.0, 10.0, 8.0]



---

### H) **Faça uma função que retorne o reverso de um número inteiro informado. Por exemplo: 153 -> 351**

In [ ]:
# Resposta aqui



---

### I) **Faça um programa que solicite o nome do usuário e imprima-o em formato de escada.**

In [ ]:
#Digite seu nome: amanda
#a
#am
#ama
#aman
#amand
#amanda

In [ ]:
# Resposta aqui